@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins&display=swap');



body{
    margin: 0;
    padding: 2rem 6rem;
    border-top: 5px solid rgb(255, 78, 152);
    border-bottom: 5px solid rgb(255, 78, 152);
    border-left: 5px solid rgb(211, 159, 168);
    border-right: 5px solid rgb(255, 78, 152);
    min-height: 100vh;
    background-color: #FAEEE7;
    transition: all 1s;
}

nav>ul{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}
nav{
    display: flex;
    justify-content: space-between;
    
}

.nav-btn{
    height:100px;
    transform: translateY(-80px);
    background-color: pink;
    outline: 0;
    border: none;
    border-radius: 45% 55% 55% 45% / 0% 0% 100% 100% ;
}




ul>li{
    margin-right: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
}

.night{
    height: 25px;
    width:25px;
}

.day{
    height: 25px;
    width:25px;
    border-radius: 50%;

}

li::after{
    content: '';
    position: absolute;
    left:0;
    bottom: 40%;
    height: 5px;
    width: 100%;
    background-color:rgb(238, 148, 163);
    transform: scaleX(0);
    transform-origin: right;
    transition:transform 250ms;
}

li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

/* about section */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}


.about-head{
    font-size: 4rem;
}

.about-para{
    font-size: 2rem;
}

.head{
    width:25vw;
    height: 25vw;
    border:8px dotted rgb(255, 78, 152);
   
    margin-left: 0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 48% 52% 55% 45% / 26% 30% 70% 74% ;
    padding: 1rem;
}


.eyes{
    width: 30%;
    height: 50%;
    border-radius: 48% 52% 55% 45% / 86% 93% 7% 14% ;

    background-color:rgb(238, 150, 187);
    position: relative;
    overflow: hidden;
}

.ball{
    width:3vw;
    height: 5vw;
    background-color:#2222;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.pupils{
    width:30%;
    height: 50%;
    background-color:rgb(17, 16, 16);
    border-radius: 50%;
    position: relative;
}



.mouth{
    height: 20%;
    width:50%;
    background-color:rgb(238, 150, 187);
   
    border-radius: 50% 50% 51% 49% / 0% 0% 100% 100% ;


}


/* skills section */

.skills{
    margin-top: 8rem;
    display: flex;
    justify-content: center;

    flex-direction: column;
    padding-left: 2rem;
    font-family: 'Poppins', sans-serif;
    
}


.skills-icon-box{
    display: flex;
    
    gap: 40px;
    padding: 30px;
}

.skills-icon{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.skills-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.skills-text .text1{
    font-size: 2rem;

}

.skills-text .text2{
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;

}

.skills-text .text3{
    font-size: 1.6rem;

}

.skills-icon span{
    font-size: 20px;
}